<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDK5gEifDrz9J926LfLl1Zy9mIi12uMtyI</string>
	<key>GCM_SENDER_ID</key>
	<string>46136017875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>balya.To-Do-List</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-9d52b</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-9d52b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46136017875:ios:ad4e04da809fc59093a526</string>
</dict>
</plist>